{
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".d.ts", ".ts", ".tsx", ".json"]
      },
      "alias": {
        "map": [["src", "./src"], ["components", "./src/components"], ["services", "./src/services"]],
        "extensions": [".ts", ".tsx", ".json"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/standard",
    "prettier/react",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "typescript", "@typescript-eslint"],
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "fetch": true,
    "jest": true,
    "afterEach": true,
    "beforeEach": true,
    "onmessage": true,
    "postMessage": true,
    "localStorage": true,
    "Promise": false,
    "Uint8Array": true,
    "cordova": false
  },
  "env": {
    "commonjs": true,
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    // standard
    "array-callback-return": [0],
    "arrow-body-style": [0],
    "camelcase": [0],
    "class-methods-use-this": [0],
    "consistent-return": [0],
    "func-names": "off",
    "global-require": "off",
    "no-bitwise": "off",
    "no-console": [0],
    "no-continue": [0],
    "no-else-return": [0],
    "no-empty-pattern": [0],
    "no-nested-ternary": [0],
    "no-param-reassign": [0],
    "no-plusplus": [0],
    "no-restricted-syntax": [0],
    "no-return-assign": [0],
    "no-underscore-dangle": [0],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": false
      }
    ],
    "no-unused-vars": "error",
    "no-use-before-define": [0],
    "operator-assignment": ["warn"],
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": false,
        "allowUnboundThis": true
      }
    ],
    "prefer-const": "warn",
    "prefer-destructuring": [0],
    "prefer-promise-reject-errors": ["warn"],
    "prefer-template": [0],
    "radix": [0],

    // react
    "react/destructuring-assignment": ["off"],
    "react/forbid-prop-types": [0],
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": [0],
    "react/no-array-index-key": "off",
    "react/no-multi-comp": [0],
    // 下面的校验规则，请手动注释，应用校验规则,当所有人都修改代码满足一下规则
    // 以下规则会全部应用
    "react/no-string-refs": [0],
    "react/prefer-stateless-function": [0],
    "react/prop-types": [
      "error",
      {
        "ignore": [],
        "customValidators": [],
        "skipUndeclared": true
      }
    ],
    "react/require-default-props": [
      "off",
      {
        "forbidDefaultForRequired": true
      }
    ],
    "react/sort-comp": [0],

    // jsx accessibility
    "jsx-a11y/anchor-is-valid": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/label-has-associated-control": [0],
    "jsx-a11y/label-has-for": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/no-noninteractive-element-interactions": ["off"],

    // import
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/no-named-as-default": ["off"],
    "import/order": "off",
    "import/prefer-default-export": [0],

    // others
    "prettier/prettier": "warn"
  }
}
